<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQL95Dialect</property>
        <property name="hibernate.connection.url">jdbc:postgresql://manny.db.elephantsql.com:5432/zsmqnstu</property>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.username">zsmqnstu</property>
        <property name="hibernate.connection.password">t4rTdRD-GFv7XXVWg0LVI105GjpccrPQ</property>
        <property name="hbm2ddl.auto">update</property>
        <property name="show_sql">true</property>

        <property name="hibernate.connection.provider_class">org.hibernate.c3p0.internal.C3P0ConnectionProvider
        </property>
<!--        <property name="hibernate.c3p0.acquire_increment">1</property>-->
        <property name="hibernate.c3p0.min_size">5</property>
        <property name="hibernate.c3p0.max_size">20</property>
        <property name="hibernate.c3p0.timeout">1500</property>
        <property name="hibernate.c3p0.max_statements">50</property>
        <property name="hibernate.c3p0.idle_test_period">30000</property>
        <property name="hibernate.temp.use_jdbc_metadata_defaults">false</property>


        <mapping class="oleh_bendarskyi.intership_project.questionnaire.models.User"/>
        <mapping class="oleh_bendarskyi.intership_project.questionnaire.models.QuestionnaireField"/>
        <mapping class="oleh_bendarskyi.intership_project.questionnaire.models.QuestionnaireResponse"/>
    </session-factory>
</hibernate-configuration>
