@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}

.register-page {
  width: 360px;
  padding: 0% 0 0;
  margin: auto;
}

.formM {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 0px;
  padding: 30px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.formM input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.formM button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.formM button:hover,.form button:active,.form button:focus {
  background: #43A047;
}
.formM .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.formM .message a {
  color: #4CAF50;
  text-decoration: none;
}
.formM .register-form {
  display: none;
}
body {
  background: #76b852; /* fallback for old browsers */
  background: -webkit-linear-gradient(right, #777777, #000000);
  background: -moz-linear-gradient(right, #777777, #000000);
  background: -o-linear-gradient(right, #777777, #000000);
  background: linear-gradient(to left, #777777, #000000);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.invalid-feedback{
	display: flex;
	color: red;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

#subscribeCheck{
text-align: left;
}